<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header class= "main-header">
    <div class="main-header-top-bar">
      <img class="logo-home"  src="/images/logo-mercado-liebre.svg" alt="Logo" />
      <div class="searchbar">
        <input type="text" placeholder="Buscar productos, marcas..." />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <h2 class="compra-cuotas">
      <i class="fa-solid fa-hand-holding-dollar"></i>
      Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <a href="" class="burguer-menu">
      <i class="fa-solid fa-bars"></i>
    </a>

    <nav class="main-header-bottom-bar">
      <ul class="navbar-left">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
    
      <ul class="navbar-right">
        <li><a href="">Creá tu cuenta </a><i class="fa-solid fa-id-card"></i></li>
        <li><a href="">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
      </ul>

  </nav>
</header>
</body>
<main>
  <img class="banner" src="/images/img-home-banner.jpg" alt="Logo" />
  <h1 class="titulos">Basado en tu última visita</h1>
  <div class="articulos-container">
    <div class="articulos">
      <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />

      <div class="info">
        <div class="precios-descuentos">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
        <h2 class="descripciones">Cafetera Moulinex</h2>
      </div>
    </div>
    
    <div class="articulos">
      <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="producto-imagen"/>
      <div class="info">
        <div class="precios-descuentos">
          <p class="precios">$230.000</p>
          <p class="descuentos">20% OFF</p>
        </div>
        <h2 class="descripciones">MacBook Pro 2019</h2>
      </div>
    </div>
    
    <div class="articulos">
      <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="producto-imagen"/>
      <div class="info">
        <div class="precios-descuentos">
        <p class="precios">$70.500</p>
        <p class="descuentos">10% OFF</p>
      </div>
        <h2 class="descripciones">Samsung Galaxy S10</h2>
      </div>
  </div>
  
  <div class="articulos">
    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="producto-imagen"/>
    <div class="info">
      <div class="precios-descuentos">
      <p class="precios">$23.200</p>
      <p class="descuentos">5% OFF</p>
    </div>
      <h2 class="descripciones">SmartTv Samsung 43"</h2>
    </div>
  </div>
</div>
  
  <h1 class="titulos">Ofertas</h1>

  <div class="articulos-container">
    <div class="articulos">
      <div class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
        <div class="info">
          <div class="precios-descuentos">
          <p class="precios">$6.770</p>
          <p class="descuentos">40% OFF</p>
        </div>
          <h2 class="descripciones">Cafetera Moulinex</h2>
        </div>
      </div>
    </div>
    
    <div class="articulos">
      <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="producto-imagen"/>
      <div class="info">
        <div class="precios-descuentos">
        <p class="precios">$230.000</p>
        <p class="descuentos">20% OFF</p>
      </div>
        <h2 class="descripciones">MacBook Pro 2019</h2>
    </div>
  </div>
  
  <div class="articulos">
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="producto-imagen"/>
    <div class="info">
      <div class="precios-descuentos">
      <p class="precios">$70.500</p>
      <p class="descuentos">10% OFF</p>
    </div>
      <h2 class="descripciones">Samsung Galaxy S10</h2>
    </div>
  </div>
  
  <div class="articulos">
    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="producto-imagen"/>
    <div class="info">
      <div class="precios-descuentos">
      <p class="precios">$23.200</p>
      <p class="descuentos">5% OFF</p>
    </div>
      <h2 class="descripciones">SmartTv Samsung 43"</h2>
    </div>
  </div>
</div>
</main>

<footer>
  <div class="footer-container">
  <div class="footer-info">
    <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>
      Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
      puntos de pago. ¡Y siempre es seguro!
    </p>
  </div>
  <div class="footer-info">
  <i class="fa-solid fa-gift"></i>
  <h3>Envío gratis desde $ 2.500</h3>
    <p>
      Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
      productos. Es un beneficio de Mercado Puntos3
    </p>
  </div>
  <div class="footer-info">
    <i class="fa-solid fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p>
      ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
      hacer, porque estás siempre protegid@.
    </p>
  </div>
</div>
<p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
  </footer>
